<div>
	<form action='/games/<%=game.id %>' method='put' id='edit'>
		<input type='text' name='name' value='<%=game.name%>' placeholder='<%=game.name %>'>
		<input type='text' name='description' value='<%=game.description %>' placeholder='<%=game.description %>'>
		<button type='submit'>Update</button>
	</form>
</div>
